# Q- Find the phone number in the Gmail and make a new column , if number is 10 digits then print otherwise write mobile number is not found ?
# 1. Karan@gmail.com1234678914
# 2. Hritik8899124610@gmail.com
# 3. Rishi2434khanna@gmail.com
# 4. Dhruv9465723405@gmail.com

In [1]:
import pandas as pd
import re

In [2]:
l=["Karan@gmail.com1234678914","Hritik8899124610@gmail.com","Rishi2434khanna@gmail.com","Dhruv9465723405@gmail.com"]

In [3]:
df=pd.DataFrame({"Gmail":l})
df

                        Gmail
0   Karan@gmail.com1234678914
1  Hritik8899124610@gmail.com
2   Rishi2434khanna@gmail.com
3   Dhruv9465723405@gmail.com

In [4]:
s=[]
for i in df["Gmail"]:
    a=re.findall("\d",i)
    b="".join(a)
    if len(b)==10:
        s.append(b)
    else:
        s.append("Mobile no. not found")
s

['1234678914', '8899124610', 'Mobile no. not found', '9465723405']

In [5]:
df["Phone Number"]=s
df

                        Gmail          Phone Number
0   Karan@gmail.com1234678914            1234678914
1  Hritik8899124610@gmail.com            8899124610
2   Rishi2434khanna@gmail.com  Mobile no. not found
3   Dhruv9465723405@gmail.com            9465723405