# Q- Find the phone number in the Gmail and make a new column , if number is 10 digits then print otherwise write mobile number is not found ?
# 1. Karan@gmail.com1234678914
# 2. Hritik8899124610@gmail.com
# 3. Rishi2434khanna@gmail.com
# 4. Dhruv9465723405@gmail.com

In [1]:
import pandas as pd

In [2]:
l=["Karan@gmail.com1234678914","Hritik8899124610@gmail.com","Rishi2434khanna@gmail.com","Dhruv9465723405@gmail.com"]

In [3]:
a=pd.DataFrame({"Gmail ID":l})
a

                     Gmail ID
0   Karan@gmail.com1234678914
1  Hritik8899124610@gmail.com
2   Rishi2434khanna@gmail.com
3   Dhruv9465723405@gmail.com

In [4]:
x=[]
for i in a["Gmail ID"]:
    for j in i:
        if j.isdecimal():
            x.append(j)
    x.append(":")

In [5]:
x

['1',
 '2',
 '3',
 '4',
 '6',
 '7',
 '8',
 '9',
 '1',
 '4',
 ':',
 '8',
 '8',
 '9',
 '9',
 '1',
 '2',
 '4',
 '6',
 '1',
 '0',
 ':',
 '2',
 '4',
 '3',
 '4',
 ':',
 '9',
 '4',
 '6',
 '5',
 '7',
 '2',
 '3',
 '4',
 '0',
 '5',
 ':']

In [6]:
z="".join(x)
z

'1234678914:8899124610:2434:9465723405:'

In [7]:
p=z.split(":")
p

['1234678914', '8899124610', '2434', '9465723405', '']

In [8]:
y=[]
for i in p:
    if i.isdecimal():
        y.append(i)

In [9]:
y

['1234678914', '8899124610', '2434', '9465723405']

In [10]:
s=[]
for i in y:
    if len(i)==10:
        s.append(i)
    else:
        s.append("Mobile no. not found")

In [11]:
s

['1234678914', '8899124610', 'Mobile no. not found', '9465723405']

In [12]:
a["Phone Number"]=s

In [13]:
a

                     Gmail ID          Phone Number
0   Karan@gmail.com1234678914            1234678914
1  Hritik8899124610@gmail.com            8899124610
2   Rishi2434khanna@gmail.com  Mobile no. not found
3   Dhruv9465723405@gmail.com            9465723405